do \$\$
declare
  v_admin_id uuid;
  v_physio_id uuid;
  v_clinic_id uuid;
  v_slug text;
  v_email text;
  v_name text;
  v_role text;
  v_hashed text := crypt('123456', gen_salt('bf'));
begin
  -- create admin
  v_admin_id := gen_random_uuid();
  insert into auth.users (id, instance_id, aud, role, email, encrypted_password, email_confirmed_at, raw_user_meta_data, created_at, updated_at)
  values (v_admin_id, '00000000-0000-0000-0000-000000000000', 'authenticated', 'authenticated', 'admin@corpergo.in', v_hashed, now(), '{"role":"super_admin", "full_name":"System Admin"}', now(), now())
  on conflict (email) do update set encrypted_password = v_hashed, raw_user_meta_data = '{"role":"super_admin", "full_name":"System Admin"}';

  update public.profiles set role = 'super_admin' where email = 'admin@corpergo.in';

  -- Physios
  for v_slug in select unnest(array['chansandra', 'balagere', 'muthsandra', 'kannamangala', 'manduru'])
  loop
    v_email := 'physio.' || v_slug || '@corpergo.in';
    v_name := 'Physio ' || initcap(v_slug);
    v_physio_id := gen_random_uuid();

    select id into v_clinic_id from public.clinics where slug = v_slug limit 1;

    if v_clinic_id is not null then
      insert into auth.users (id, instance_id, aud, role, email, encrypted_password, email_confirmed_at, raw_user_meta_data, created_at, updated_at)
      values (v_physio_id, '00000000-0000-0000-0000-000000000000', 'authenticated', 'authenticated', v_email, v_hashed, now(), json_build_object('role', 'physiotherapist', 'full_name', v_name), now(), now())
      on conflict (email) do update set encrypted_password = v_hashed;

      -- Ensure the profile has the clinic_id
      update public.profiles set clinic_id = v_clinic_id, role = 'physiotherapist' where email = v_email;

      -- Ensure the physiotherapist record exists
      insert into public.physiotherapists (user_id, clinic_id, license_number)
      select id, v_clinic_id, 'LIC-' || upper(v_slug) from auth.users where email = v_email
      on conflict (user_id) do update set clinic_id = v_clinic_id;
    end if;
  end loop;
end;\$\$

